ion-card {
  position: relative;
  div {
    position: absolute;
    top: 64px;
    right: 23px;

    ion-icon {
      font-size: 22px;
      margin: 0 -6px;
    }
  }
}
.trash {
    position: absolute;
    top: 12px;
    right: 23px;
    color: red;
    font-size: 25px;
}
