form{
    padding: 10px;
}
ion-select{
    border-bottom: 1px solid #808080;
    padding: 10px;
}
:host, ion-item{
    --inner-padding-end: 0px;

    .item-native{
        background-color: #fff;
    }
}

:host(.ion-color:not(.item-fill-solid):not(.item-fill-outline)) .item-native {
    background: #fff;
}

.flex {
    display: flex;
   
}
.header {
    color: #fff;
    background: darkgrey;
}
.user {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.face {
    padding: 15px 0px;
    text-align: center;
}
.tool {
    min-height: 27vh !important;
}
.icon-x {
    font-size: 33px !important;
}
.opt {
    cursor: pointer !important;
    border-bottom: 1px solid #d7d1d1;
}

li {
    padding: 20px !important;
    color: rgb(0, 0, 0) !important;
    text-align: initial;
    margin: 0px !important;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    color: #737475;
    display: flex;
    align-items: center;
}
.cursor {
    cursor: pointer;
}
.icon {
    font-size:  20px;
    margin-right: 5px;
}
.img-details{
    padding: 10px 0px;
    border-radius: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
    border: 3px solid #000;
    width: 179px;
    margin: 5px auto;
    padding: 11px;
}
img {
    width: 150px;

}
.ion-page {
    display: none;
}
ion-item{
    padding: 10px 0px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #0071ff;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    margin: 0px 10px 0px 0px;
    font-size: 12px;
}

.container-item{
    display: flex;
    align-items: center;
    margin: 0px 0px 5px;
}
:host(.ion-color:not(.item-fill-solid):not(.item-fill-outline)) .item-native {
    background: #fff;
}
ion-input{
    --background: #fff !important
}
ion-datetime{
    margin: 0px auto;
}
.img-item{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
    img{
        width: 40px;
        height: 40px;
    }
}
.item-content{
    ion-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
ion-card-header{
    margin-bottom: 40px;
    padding: 0px;

    ion-col{
        text-align: center;
    }
    .price{
        color: green;
        font-weight: 600;
        margin-top: 10px;
    }

    h4{
        margin: 0px;
        text-transform: capitalize;
    }
}
.actions-item{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #3b3b3b;
    font-size: 18px;
    :first-child{
        margin-right: 8px;
    }
}
.no-appoinments{
    margin-top: 25px;
    text-align: center;
    img{
        width: 100px;
    }
}
ion-avatar {
    width: 97%;
    height: 4vh;
}