<!-- <ion-header class="i-header">
  <ion-toolbar>
    <div class="i-toolbar-inner">
      <ion-row class="i-toolbar">
        <ion-col>
          <ion-title size="large"> Choferes y Vehiculos </ion-title>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-avatar id="driver-bus-button">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="segment">

      <ion-searchbar
  size="mediun"
  mode="ios"
  show-clear-button="always"
  clear-icon="trash-bin"
  placeholder="Buscar chofer o vehículo"
  (ionInput)="filterData($event)">
</ion-searchbar>

      <ion-segment
        [(ngModel)]="typeSelect"
        size="large"
        mode="ios"
        (ionChange)="handleSegmentChange($event)"
      >
        <ion-segment-button value="driver" content-id="driver">
          <ion-label>Choferes </ion-label>
        </ion-segment-button>
        <ion-segment-button value="vehicle" content-id="vehicle">
          <ion-label>Vehiculos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <!-- Barra superior: título + avatar -->
  <ion-toolbar mode="md"> <!-- mode="md" fuerza un estilo consistente -->
    <ion-title>Choferes y Vehículos</ion-title>

    <ion-buttons slot="end">
      <ion-avatar id="driver-bus-button">
        <img
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
          alt="Avatar"
        />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>

  <!-- Barra de búsqueda -->
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      show-clear-button="always"
      clear-icon="trash-bin"
      placeholder="Buscar chofer o vehículo"
      (ionInput)="filterData($event)">
    </ion-searchbar>
  </ion-toolbar>

  <!-- Barra de segment -->
  <ion-toolbar>
    <ion-segment
      [(ngModel)]="typeSelect"
      mode="ios"
      (ionChange)="handleSegmentChange($event)"
    >
      <ion-segment-button value="driver">
        <ion-label>Choferes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="vehicle">
        <ion-label>Vehículos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading" class="loading-state ion-text-center">
    <ion-spinner name="circles"></ion-spinner>
    <p>Cargando Rutas...</p>
  </div>

  <div *ngIf="errorMessage" class="error-state ion-text-center">
    <ion-icon name="warning-outline" color="danger"></ion-icon>
    <p>{{ errorMessage }}</p>
    <ion-button (click)="loadDriversAndBuses()">Reintentar</ion-button>
  </div>

  <div *ngIf="!isLoading && !hasData" class="empty-state ion-text-center">
    <ion-icon name="information-circle-outline" color="medium"></ion-icon>
    <p>No hay información disponible para esta sección.</p>
  </div>


  <ion-segment-view *ngIf="!isLoading && hasData">
    <ion-segment-content *ngIf="typeSelect == 'driver'" id="driver">
      <app-drivers
        *ngFor="let driver of filteredDrivers"
        [currentDriver]="driver"
        (handleActionDriver)="handleOpenDriverModal($event, driver)"
        >
      </app-drivers>
    </ion-segment-content>

    <ion-segment-content *ngIf="typeSelect == 'vehicle'" id="vehicle">
      <app-vehicles
        *ngFor="let bus of filteredVehicles"
        [currentVehicle]="bus"
        (handleActionDriver)="handleOpenBusModal($event, bus)"
        >
      </app-vehicles>
    </ion-segment-content>
  </ion-segment-view>


  <!-- <ion-fab *ngIf="!isLoading" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-bus']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!isLoading" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-bus']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-popover trigger="driver-bus-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" (click)="logoutAndGoToSignIn()" [detail]="false">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
