
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="navigate('profile')">
        <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Informe y Estadistica
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <app-report-and-statistics></app-report-and-statistics> -->
<!-- <app-rental-history></app-rental-history> -->

<!-- 
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let item of products; let idx = index" class="list-items" >
      <ion-item [button]="true">
        <ion-thumbnail>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <div class="card-info">
          <div class="header-card">
            <ion-label>{{item?.name}}</ion-label>
          </div>
          <div class="price">
            RD${{getFormatQty(item?.price)}}
          </div>
          <div class="subtitle">
            <span>Cantidad de Producto: {{item?.quantity}}</span>
          </div>
          <div class="subtitle">
            <span>Disponibles: {{item?.quantity - item?.quantity_sold}}</span>
          </div>
        </div>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="tertiary"  (click)="openAndCloseEdit(item)">
          <ion-icon name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true" (click)="alertDeleteUser(idx)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="showAddModal = true; formAddProducts.reset()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal
      [isOpen]="showAddModal"
    >
      <ng-template>
        <div class="ion-page">
          <ion-header>
            <ion-toolbar>
              <ion-title>Agregar Articulo</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="showAddModal = false">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <form [formGroup]="formAddProducts" (ngSubmit)="addProduct()">
              <div class="item">
                <ion-input label="Nombre del articulo" formControlName="name" label-placement="floating" fill="solid" placeholder="Nombre del articulo"></ion-input>
              </div>
              <div class="item">
                <ion-input label="Descripcion" formControlName="description" label-placement="floating" fill="solid" placeholder="Descripcion"></ion-input>
              </div>
              <div class="item">
                <ion-input label="Cantidad disponible" type="number" formControlName="quantity" label-placement="floating" fill="solid" placeholder="Cantidad disponible"></ion-input>
              </div>
              <div class="item">
                <ion-input label="Precio estimado" type="number" formControlName="price"  (ionChange)="formatQty()"  label-placement="floating" fill="solid" placeholder="Precio estimado"></ion-input>
              </div>
            
              <div class="item">
                <ion-button expand="full" (click)="addProduct()">Agregar Articulo</ion-button>
              </div>
            </form>
          </ion-content>
        </div>
      </ng-template>
    </ion-modal>
  
    <ion-modal
    [isOpen]="showEditModal"
  >
    <ng-template>
      <div class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Editar Articulo</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="showEditModal = false">Cancelar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <form [formGroup]="formAddProducts" (ngSubmit)="editProduct()">
            <div class="item">
              <ion-input label="Nombre del articulo" formControlName="name" label-placement="floating" fill="solid" placeholder="Nombre del articulo"></ion-input>
            </div>
            <div class="item">
              <ion-input label="Descripcion" formControlName="description" label-placement="floating" fill="solid" placeholder="Descripcion"></ion-input>
            </div>
            <div class="item">
              <ion-input label="Cantidad disponible" type="number" formControlName="quantity" label-placement="floating" fill="solid" placeholder="Cantidad disponible"></ion-input>
            </div>
            <div class="item">
              <ion-input label="Precio estimado" type="number" formControlName="price"  (ionChange)="formatQty()"  label-placement="floating" fill="solid" placeholder="Precio estimado"></ion-input>
            </div>
          
            <div class="item">
              <ion-button expand="full" (click)="editProduct()">Editar Articulo</ion-button>
            </div>
          </form>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>



    -->