<ion-header class="i-header">
  <ion-toolbar>
    <div class="i-toolbar-inner">
      <ion-row class="i-toolbar">
        <ion-col>
          <ion-title size="large"> Planificacion de Rutas </ion-title>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-avatar id="popover-button">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <ion-searchbar
      mode="ios"
      show-clear-button="always"
      clear-icon="trash-bin"
      value="Custom Clear Icon"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading" class="loading-state ion-text-center">
    <ion-spinner name="circles"></ion-spinner>
    <p>Cargando Rutas...</p>
  </div>

  <div *ngIf="errorMessage" class="error-state ion-text-center">
    <ion-icon name="warning-outline" color="danger"></ion-icon>
    <p>{{ errorMessage }}</p>
    <ion-button (click)="getAllRoute()">Reintentar</ion-button>
  </div>

  <ion-list *ngIf="!isLoading">
    <app-all-route
      *ngFor="let route of school_routes"
      [route]="route"
      (click)="handleOpenRouteModal('edit',route)"
    ></app-all-route>
  </ion-list>

  <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  [routerLink]="['/add-route']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab> -->
</ion-content>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <!-- <ion-item [button]="true" [detail]="false">Option 1</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item> -->
        <!-- <ion-item [button]="true" id="nested-trigger">More options...</ion-item> -->
        <ion-item [button]="true" [detail]="false" routerLink="/sign-in"
          >Cerrar Sesión</ion-item
        >
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
