<!-- <ion-header class="i-header">
  <ion-toolbar>
    <div class="i-toolbar-inner">
      <ion-row class="i-toolbar">
        <ion-col>
          <ion-title size="large"> Planificacion de Rutas </ion-title>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-avatar id="popover-button">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <ion-searchbar
      size="mediun"
      mode="ios"
      show-clear-button="always"
      clear-icon="trash-bin"
      (ionInput)="filterRoutes($event)"
      placeholder="Buscar por ruta, chofer o estudiante"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <!-- Barra 1: título + avatar -->
  <ion-toolbar mode="md"> <!-- fuerza estilo Material también en iOS -->
    <ion-title>Planificación de Rutas</ion-title>

    <ion-buttons slot="end">
      <ion-avatar id="popover-button">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>

  <!-- Barra 2: buscador -->
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      show-clear-button="always"
      clear-icon="trash-bin"
      (ionInput)="filterRoutes($event)"
      placeholder="Buscar por ruta, chofer o estudiante">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading" class="loading-state ion-text-center">
    <ion-spinner name="circles"></ion-spinner>
    <p>Cargando Rutas...</p>
  </div>

  <div *ngIf="errorMessage" class="error-state ion-text-center">
    <ion-icon name="warning-outline" color="danger"></ion-icon>
    <p>{{ errorMessage }}</p>
    <ion-button (click)="getAllRoute()">Reintentar</ion-button>
  </div>

  <!-- Mostrar mensaje si no hay datos -->
  <div *ngIf="!isLoading && !hasData" class="empty-state ion-text-center">
    <ion-icon name="information-circle-outline" color="medium"></ion-icon>
    <p>No hay información disponible para esta sección.</p>
  </div>

  <ion-list *ngIf="!isLoading && hasData">
    <app-all-route
      *ngFor="let route of filteredRoutes"
      [route]="route"
      (click)="handleOpenRouteModal('edit',route)"
    ></app-all-route>
  </ion-list>


</ion-content>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>

        <ion-item
          [button]="true"
          (click)="logoutAndGoToSignIn()"
          [detail]="false"
          >Cerrar Sesión</ion-item
        >
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
