<ion-header class="i-header">
  <ion-toolbar>
    <div class="i-toolbar-inner">
      <ion-row class="i-toolbar">
        <ion-col>
          <ion-title size="large"> Choferes y Vehiculos </ion-title>
        </ion-col>
        <ion-col size="auto">
          <div>
            <ion-avatar id="driver-bus-button">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="segment">
      <ion-searchbar
        size="mediun"
        mode="ios"
        show-clear-button="always"
        clear-icon="trash-bin"
        value="Custom Clear Icon"
      ></ion-searchbar>

      <ion-segment [(ngModel)]="typeSelect" size="large" mode="ios">
        <ion-segment-button value="first" content-id="first">
          <ion-label>Regogida </ion-label>
        </ion-segment-button>
        <ion-segment-button value="second" content-id="second">
          <ion-label>Entrega</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-segment-view>
    <ion-segment-content id="first">
      <app-all-route
        *ngFor="let route of school_routes_pickup"
        [route]="route"
        (click)="handleOpenRouteModal('edit',route)"
        ></app-all-route>
    </ion-segment-content>
    <ion-segment-content id="second">
       <app-all-route
        *ngFor="let route of school_routes_delivery"
        [route]="route"
        (click)="handleOpenRouteModal('edit',route)"
        ></app-all-route>
    </ion-segment-content>
    <!-- <ion-segment-content id="third">Third</ion-segment-content> -->
  </ion-segment-view>
<!--
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-bus']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-bus']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>

<ion-popover trigger="driver-bus-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <!-- <ion-item [button]="true" [detail]="false">Option 1</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item> -->
        <!-- <ion-item [button]="true" id="nested-trigger">More options...</ion-item> -->
        <ion-item [button]="true" [detail]="false" routerLink="/sign-in"
          >Cerrar Sesión</ion-item
        >

        <!-- <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Nested option</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover> -->
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
