<ion-content class="ion-padding update-screen">
  <ion-grid class="ion-text-center full-height">
    <ion-row class="ion-align-items-center ion-justify-content-center full-height">
      <ion-col size="12" sizeMd="8" sizeLg="6">
        <div class="d-flex-img">
          <!-- <img src="../../../../assets/images/update-app.png" alt="Actualizar App" class="update-image" /> -->
          <img src="../../../../assets/images/logo.png" alt="Actualizar App" class="update-image" />

        </div>

        <h2>¡Nueva versión disponible!</h2>
        <p>
          Estás usando una versión antigua de la aplicación. Por favor, actualiza para disfrutar de
          las últimas mejoras y funciones.
        </p>

        <ion-button expand="block" color="primary" href="https://play.google.com/store/apps/details?id=TU_ID">
          <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
          Actualizar desde Google Play
        </ion-button>

        <ion-button expand="block" color="medium" href="https://apps.apple.com/app/idTU_ID">
          <ion-icon slot="start" name="logo-apple"></ion-icon>
          Actualizar desde App Store
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
