<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'WELCOME' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleLanguage()">
          {{ currentLang === 'es' ? 'EN' : 'ES' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p>{{ 'HELLO' | translate }}</p>
  </ion-content>
  






  <div id="container">
    <p>{{ 'WELCOME' | translate }}</p>

    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
